<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanju's Portfolio</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    link(rel="shortcut icon", href="../static/images/7.png", type="image/x-icon")
    <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap"rel="stylesheet">
</head>
<body>
    <nav id='nav-bar'class="max-width">
        <span class="nav-left">
            <div><a href="/">Sanju's Portfolio</a></div>
        </span>
        <ul class="nav-right">
            <li class="nav-left-elements"><a href="/">Home</a></li>
            <li class="nav-left-elements"><a href="/#about">About</a></li>
            <li class="nav-left-elements"><a href="/#skills">Skills</a></li>
            <li class="nav-left-elements"><a href="/#contact">Contact</a></li>
        </ul>
    </nav>
    <hr>
    <div class="home-content max-width">
        <div class="home-text"><p id="home_para" ALIGN=CENTER>Hi,<br/>I'm a <b style="color:blue;">Sanju</b><br/>A web developer.</p></div>
        <div><img src="../static/images/8.jpg" alt="Sanju"></div>
    </div>
    <div class="home-sub-content max-width">
        <ul class="social-links">
            <li><a href="https://www.facebook.com/profile.php?id=100067543698609" target="_blank"><img src="../static/images/fb.png" alt=""></a></li>
            <li><a href="https://api.whatsapp.com/send?phone=918753000021?Hi,Sanju" target="_blank"><img src="../static/images/whatsapp.png" alt=""></a></li>
            <li><a href="https://www.instagram.com/sa.njukumar" target="_blank"><img src="../static/images/insta.png" alt=""></a></li>
            <li><a href="https://github.com/sanju2062" target="_blank"><img src="../static/images/github.png" alt=""></a></li>
        </ul>
        <img src="../static/images/hi2.gif" alt="Hi" width="250" alt="404 image" id="hi-gif"/>
    </div>
    <hr>
    <section id="about" class="max-width sections">
        <div id="about-label" class="labels">About</div>
        <hr class="label-hr">
        <div id="about-content" class="sections max-width">
            <div id="about-img">
                <img src="../static/images/5.png" alt="sanju">
            </div>
            <div id="about-text">
                <p ALIGN=CENTER>Hi,I'm sanju.I'm a student of B.Tech CSE.<br>I'm working as a web developer</p>
            </div>
        </div>
    </section>
    <hr>
    <section id="skills" class="max-width sections">
        <div id="skills-label" class="labels">Skills</div>
        <hr class="label-hr">
        <div class="skills-content max-width sections">
            <div class="coding-skills">
                <ul>
                    <li class="coding-skills-items items skills-content-label">Coding Skills</li>
                    <li ALIGN=CENTER class="coding-skills-items items">C++</li>
                    <li ALIGN=CENTER class="coding-skills-items items">Java</li>
                    <li ALIGN=CENTER class="coding-skills-items items">Python</li>
                    <li ALIGN=CENTER class="coding-skills-items items">Html</li>
                    <li ALIGN=CENTER class="coding-skills-items items">Javascript</li>
                    <li ALIGN=CENTER class="coding-skills-items items">Css</li>
                </ul>
            </div>
            <div class="hobies">
                <ul>
                    <li ALIGN=CENTER class="hobies-items items skills-content-label">Hobbies</li>
                    <li ALIGN=CENTER class="hobies-items items">Reading books</li>
                    <li ALIGN=CENTER class="hobies-items items">Travel</li>
                </ul>
            </div>
        </div>
    </section>
    <hr>
    <section id="contact" class="sections max-width">
        <div id="contact-label" class="labels">Contact</div>
        <hr class="label-hr">
        <div class="contact-form sections max-width">
            <form action="/"method="POST">
                <label for="name" class="contact-details-label">Name:</label>
                <input type="text" name="name" id="name" placeholder="Enter your name">
                <label for="contact_no" class="contact-details-label">Contact No:</label>
                <input type="text" name="contact_no" id="contact-no" placeholder="Enter your contact number">
                <label for="email" class="contact-details-label">Email:</label>
                <input type="email" name="email" id="email" placeholder="Enter your email">
                <label for="desc" class="contact-details-label">Description:</label>
                <textarea name="desc" id="desc" cols="30" rows="10" placeholder="Enter about yourself"></textarea>
                <input type="submit" name="submit" id="submit">
            </form>
        </div>
    </section>
    <footer id="footer">
        <div class="footer-content">
            <ul>
                <li class="footer-items"><a href="https://www.facebook.com/profile.php?id=100067543698609" target="_blank"><img src="../static/images/fb.png" alt=""></a></li>
                <li class="footer-items"><a href="https://api.whatsapp.com/send?phone=918753000021?Hi,Sanju" target="_blank"><img src="../static/images/whatsapp.png" alt=""></a></li>
                <li class="footer-items"><a href="https://www.instagram.com/sa.njukumar" target="_blank"><img src="../static/images/insta.png" alt=""></a></li>
                <li class="footer-items"><a href="https://github.com/sanju2062" target="_blank"><img src="../static/images/github.png" alt=""></a></li>
                <li class="footer-items"><a href="https://www.linkedin.com/in/sanju-kumar-2836561b4/" target="_blank"><img src="../static/images/ln.png" alt=""></li>
            </ul>
        </div>
    </footer>
</body>
script(src="../static/js/script.js") 
script(src="../static/js/scroll-out.js")
script(type="text/javascript") 
    | ScrollOut({
    |   targets:'p,nav a,nav li,.labels,.coding-skills li,.hobies li,.skills-content-label'
    |})
</html>